--index-url https://arti.hpc.amslabs.hpecorp.net:443/artifactory/api/pypi/pypi-remote/simple
--trusted-host arti.hpc.amslabs.hpecorp.net
-c constraints.txt

boto3
kubernetes
requests
requests-oauthlib
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
